# Ignorar archivos de configuración sensibles
versions/*/.env

# Ignorar directorios de datos persistentes
pgdb-data/
odoo-web-data/

# Ignorar archivos temporales y de compilación
*.pyc
*.pyo
__pycache__/
*.swp
*.log

# Ignorar entorno virtual
.venv/
